<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Quiz</title>

    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<style>
</style>
<body>
    <div style="padding-top:20px;">
    <div class="container p-5">
        <div id="main-container" class="container">
            <form method="POST" autocomplete="off"  novalidate>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="form-check text-center">
                            <h1>Create Quiz</h1>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="lesson">Lesson Name:</label>
                            <label for="lesson">Lesson 3</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="quiz">Quiz Type:</label>
                            <label for="quiz">Ungraded</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="quiz">Question Type:</label>
                            <select name="qnsType" id="qnsType" v-model="qnsType" class="form-control">
                                <option value="MCQ" selected>MCQ</option>
                                <option value="truefalse">True/False</option>
                            </select>
                        <p></p>
                        <button class="btn btn-primary" type="submit">Add</button>
                        <button class="btn btn-primary" type="submit">Delete</button>
                        </div>
                    </div>
                    <div class="col-4">
                          <div class="form-group">
                                <label for="course_material">Quiz Question</label>
                                    <textarea type="text" class="form-control" v-model="quiz_qns" name="quiz_qns" id="quiz_qns" ></textarea>
                          </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-4">
                        <label for="quiz">Answer Selection:</label>
                            <input type="text" class="form-control" name="ans" value="" id="answers"> <p></p>
                            <button class="btn btn-primary" type="submit" onclick="myFunction()">Insert selection</button>
                            <ul id="mySelect">
                            </ul>
                    </div>
                    <div class="col-4">
                          <div class="form-group">
                            <div class="col-12">
                                <label for="timelimit">Time Limit</label>
                                    <input type="text" class="form-control" name="timelimit" value="" id="timelimit">
                                <select name="time" id="time" v-model="time" class="form-control">
                                    <option value="hours" selected>Hours</option>
                                    <option value="minute">Minutes</option>
                                </select>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-4">
                        <label for="answer">Answer</label>
                            <input type="text" class="form-control" name="answer" value="" id="answer"> <p></p>
                    </div>
                    <div class="col-4">
                          <div class="form-group">
                                <label for="created">Created On</label>
                                    <label for="created">25/10/2021</label>
                          </div>
                    </div>
                </div>
            </form>
            <div class="row justify-content-center">
                <div class="col-4">
                    <a href=""><button class="btn btn-secondary w-100 mt-4">Back</button></a>
                 </div>
                <div class="col-4">
                    <button class="btn btn-success w-100 mt-4" v-on:click="submitForm" id="checkout" type="submit">Create</button>
                </div>
               
            </div>
           
    </div>
</div>
</div>
    <script>
        const vm = new Vue({
            el: '#main-container',
            data: {
                lesson_name: '',
                quizType: '',
                course_material: [],
                desc: ''
            },
            methods: {
                submitForm: function() {
                axios.post("http://localhost:5000/lessons/"+ lesson_name, {
                        lesson_name: this.lesson_name,
                        quizType: this.quizType,
                        course_material: this.course_material,
                        desc: this.desc
                    })
                .then(response => {
                        return false;
                    })
                .catch(error => { this.error = error.response.data.message });
                }
            }
        });

            function myFunction() {
                var input = document.getElementById("answers").value;
                var x = document.getElementById("mySelect");
                const para = document.createElement("li");
                var text = document.createTextNode(input);
                para.appendChild(text);
                x.appendChild(para);
            }

    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

</body>
</html>